*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Defines what 1 rem is
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $color-light-2;
  font-weight: 400;
  line-height: 1.5;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: #fff;
  padding: 2.4rem;
  position: relative;
  display: flex;
}
