@import 'abstracts/variables';
@import 'abstracts/functions';

@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'layout/appbar';
@import 'layout/state';
@import 'layout/mapbox';
@import 'layout/footer';
@import 'layout/error';
@import 'layout/clear-window';

@import 'components/location_pin';
@import 'components/form';
@import 'components/workout_cards';
@import 'components/dropdown';
@import 'components/button';

// .icon {
//   &__marker {
//     width: 2.8rem;
//     height: 4rem;
//     background-size: cover;

//     &--from {
//       background-image: url(../images/startMarker.png);
//     }

//     &--to {
//       background-image: url(../images/marker.png);
//     }
//   }
// }

.icon {
  &__settings {
    font-size: 1.7rem;
    margin-top: 0.2rem;
    grid-column: 4 / -1;
    grid-row: 1 / 2;
    justify-self: end;
    position: relative;
    transition: all 0.3s;

    &:hover {
      color: #000;
    }
  }

  &__fog {
    height: 5.5rem;
  }

  &__card {
    height: 2.5rem;
    margin-right: 0.7rem;
  }

  &__edit,
  &__delete {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    width: 2rem;
    opacity: 0.6;
    transition: all 0.2s;
  }
}

.starter-icon {
  width: 2.8rem;
  height: 4rem;
  background-size: cover;
  background-image: url(../images/startMarker.png);
}

.marker-icon {
  width: 2.8rem;
  height: 4rem;
  background-size: cover;
  background-image: url(../images/marker.png);
}

// Change mapbox popup style
.mapboxgl {
  &-popup {
    &-close-button {
      display: none;
    }

    &-anchor-top &-tip {
      border-bottom-color: $color-grey-1 !important;
    }
    &-anchor-left &-tip {
      border-right-color: $color-grey-1 !important;
    }
    &-anchor-right &-tip {
      border-left-color: $color-grey-1 !important;
    }
    &-anchor-bottom &-tip {
      border-top-color: $color-grey-1 !important;
    }

    &-content {
      padding: 0 !important;
      border: none !important;
      background-color: $color-grey-1 !important;

      & .running-popup {
        width: auto;
        font: 500 1rem/1.5rem 'Open Sans', sans-serif;
        border-left: 5px solid $color-running;
        border-radius: 4px;
        padding: 0.8rem;
        text-align: center;
        color: $color-light-2;

        & > *:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }

      & .cycling-popup {
        width: auto;
        font: 500 1rem/1.5rem 'Open Sans', sans-serif;
        border-left: 5px solid $color-cycling;
        border-radius: 4px;
        padding: 0.8rem;
        text-align: center;
        color: $color-light-2;

        & > *:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}
