@keyframes locatorScale {
  0% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.2);
  }

  40% {
    opacity: 0.9;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}
