// COLORS
$color-running: #ac43dc;
$color-cycling: #0afb36;

$color-grey-1: #2c2c2c;
$color-grey-2: #505050;
$color-grey-3: #3f3f3f;
$color-light-1: #dadada;
$color-light-2: #efefef;
$color-light-3: #c3c3c3;

$color-pin-blue: #0b7de1;
$color-location-circle: rgba(254, 83, 83, 0.65);
$color-orange--1: #ff9900;
$color-orange--2: #eb7a10;
$color-green--1: #5de000;
$color-red--1: #ed2626;
$color-yellow-1: #f4e300;
