// COLORS
$color-running: #dba63e;
$color-cycling: #bf4330;
$color-swimming: #308836;
$color-gym: #6e288f;

$color-grey-1: #2c2c2c;
$color-grey-2: #505050;
$color-light-1: #dadada;
$color-light-2: #efefef;
$color-light-3: #c3c3c3;

$color-pin-blue: #0b7de1;
$color-location-circle: rgba(254, 83, 83, 0.65);
