.controls__hamburger {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.6rem;

  @include respond(tablet-medium) {
    top: -10%;
  }

  &--checkbox {
    display: none;
  }

  &--button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 0.1rem;
    right: 0;
    z-index: 222;

    @include respond(tablet-medium) {
      width: 4rem;
      height: 4rem;
    }

    @include respond(tablet-small) {
      width: 4.5rem;
      height: 4.5rem;
    }

    @include respond(big-phone) {
      width: 4.5rem;
      height: 4.5rem;
    }

    @include respond(phone) {
      width: 3.8rem;
      height: 3.8rem;
    }

    @include respond(phone-landscape) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &--container {
    width: 1.2rem;
    height: 1rem;
    background-color: $color-grey-3;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    backface-visibility: hidden;
    transition: all 0.3s;
    z-index: 111;

    @include respond(tablet-medium) {
      width: 1.7rem;
      height: 1.4rem;
    }

    @include respond(tablet-small) {
      width: 1.95rem;
      height: 1.6rem;
    }

    @include respond(phone) {
      width: 1.5rem;
      height: 1.2rem;
    }

    @include respond(phone-landscape) {
      width: 1.95rem;
      height: 1.35rem;
    }
  }

  &--nav {
    width: 0;
    padding-top: 0.6rem;
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    z-index: 333;
  }

  &--list {
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    position: absolute;
    left: 5%;

    @include respond(tablet-medium) {
      font-size: 1.8rem;
      left: -90%;
      transform: translate(50%, 0);
    }

    @include respond(tablet-small) {
      font-size: 2.1rem;
      left: -120%;
    }

    @include respond(phone) {
      font-size: 1.5rem;
      left: -65%;
    }

    @include respond(phone-landscape) {
      font-size: 1.8rem;
      left: -50%;
    }
  }

  &--icon {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1rem;

    &,
    &::before,
    &::after {
      width: 2.5rem;
      height: 3px;
      border-radius: 20px;
      background-color: #fff;

      @include respond(tablet-portrait) {
        height: 2.5px;
      }

      @include respond(tablet-medium) {
        width: 3.5rem;
      }

      @include respond(tablet-small) {
        width: 4rem;
        height: 2.5px;
      }

      @include respond(phone) {
        width: 3.5rem;
      }

      @include respond(phone-landscape) {
        width: 3.5rem;
        height: 2px;
      }
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.3s;
    }

    &::after {
      top: 0.7rem;

      @include respond(tablet-medium) {
        top: 0.85rem;
      }

      @include respond(tablet-small) {
        top: 1rem;
      }

      @include respond(phone) {
        top: 0.8rem;
      }
    }

    &::before {
      top: -0.7rem;

      @include respond(tablet-medium) {
        top: -0.9rem;
      }

      @include respond(tablet-small) {
        top: -1rem;
      }

      @include respond(phone) {
        top: -0.8rem;
      }
    }
  }

  &--item {
    width: 100%;
  }

  &--link {
    &,
    &:link,
    &:visited {
      display: inline-block;
      width: 100%;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      position: relative;
      cursor: pointer;
      backface-visibility: hidden;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-yellow-1;
    }
  }

  &--checkbox:checked ~ &--container {
    transform-origin: top right;
    transform: scale(10);
    opacity: 1;
  }

  &--checkbox:checked ~ &--nav {
    width: 12rem;
    visibility: visible;
    opacity: 1;
  }

  &--button:hover &--icon {
    background-color: $color-pin-blue;
  }

  &--button:hover &--icon::before {
    top: -0.9rem;
    background-color: $color-pin-blue;
  }

  &--button:hover &--icon::after {
    top: 0.9rem;
    background-color: $color-pin-blue;
  }

  &--checkbox:checked + &--button &--icon {
    background-color: transparent;
  }

  &--checkbox:checked + &--button &--icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &--checkbox:checked + &--button &--icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
