.starterPin {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: $color-pin-blue;
  border: 2px solid $color-light-2;

  &::after {
    content: '';
    position: absolute;
    z-index: -5;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    padding: 1.8rem;
    transform-origin: center;
    background-color: $color-location-circle;
    animation: locatorScale 1300ms linear infinite;
  }
}

.markerIcon {
  width: 2.8rem;
  height: 4rem;
  background-image: url(../images/marker.png);
  background-size: cover;
}
