.workouts {
  list-style: none;
  height: 62vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.workout {
  background-color: $color-grey-2;
  border-radius: 6px;
  padding: 1.6rem 2.4rem;
  margin-bottom: 1.6rem;
  cursor: pointer;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem 1.2rem;
  transition: all 0.5s;

  &:hover,
  &.edited {
    transform: translateY(-0.3rem);
    background-color: rgb(244, 244, 244);
    color: $color-grey-2;
    box-shadow: 0 0.6rem 2.4rem rgba(#000, 0.35);
  }

  &:hover &__unit,
  &.edited &__unit {
    color: rgb(85, 85, 85);
  }

  &__running {
    border-left: 6px solid $color-running;
  }
  &__cycling {
    border-left: 6px solid $color-cycling;
  }

  &__title {
    font-size: 1.5rem;
    grid-column: 1 / 4;
    font-weight: 700;
    transition: all 0.3s;

    &:hover,
    &:hover &--star {
      color: #ff9900;
    }

    &.bookmark {
      color: #ff9900;
      & .workout__title--star {
        color: #ff9900;
      }
    }

    &--circle {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: $color-light-2;
      position: relative;
      display: inline-block;
      transform: translateY(0.3rem);
      margin-right: 0.7rem;
      box-shadow: 0 0 0.5rem 0.2rem rgba(#000, 0.2);
    }

    &--star {
      position: absolute;
      font-size: 1.4rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-grey-2;
      transition: all 0.3s;
    }
  }

  &__info {
    display: flex;
    align-items: baseline;

    &.weather {
      justify-content: center;
      align-items: center;
    }
  }

  &__icon {
    font-size: 1.7rem;
    margin-right: 0.2rem;
    height: 0.26rem;

    &.location {
      display: flex;
      align-items: center;
    }
  }

  &__value {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  &__unit {
    font-size: 1.1rem;
    color: $color-light-1;
    text-transform: uppercase;
    font-weight: 800;
    transition: all 0.3s;
  }

  &__data {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 1 / -1;
  }

  &__destination {
    display: flex;
    align-items: center;

    &--info {
      display: flex;
      flex-direction: column;
    }
  }

  &__street {
    font-size: 1.5rem;
    margin-right: 1rem;
    font-weight: 400;
  }

  &__city {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.weather {
  &__icon {
    position: relative;
    margin-right: 0.5rem;
    bottom: 15%;
  }
  &__text {
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: 1.1rem;
    font-weight: 600;
  }
}
