/* APP BAR  */
.app-bar {
  flex-basis: 44rem;
  background-color: $color-grey-1;
  padding: 2rem 3rem 2rem 3.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
}

.logo {
  height: 6.4rem;
  align-self: center;
  margin-bottom: 1rem;
}
