.confirmation {
  font-size: 2rem;
  font-weight: 700;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 44444;

  &.hidden {
    display: none;
  }

  &__window {
    min-height: 15rem;
    background-color: #3d464e;
    padding: 2.5rem 3rem 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--msg {
      margin-bottom: 2rem;

      & span {
        color: $color-orange--1;
      }
    }

    &--buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &--button {
      min-width: 7rem;
      font-size: 1.8rem;
      font-weight: 500;
      padding: 1.3rem;
      border-radius: 50% 0;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      transition: all 0.3s;

      &:hover {
        opacity: 1;
        transform: translateY(-2px);
      }

      &-yes {
        background-color: $color-yellow-1;
      }
      &-no {
        background-color: $color-red--1;
      }
    }
  }
}
