.error-window {
  min-width: 50%;
  max-width: 80rem;
  min-height: 18rem;
  background-color: $color-light-2;
  box-shadow: 0 3rem 5rem rgba(#000, 0.3);
  padding: 3rem 3.5rem;
  border-radius: 1.5rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  z-index: 5555555;

  &__heading {
    font-size: 4rem;
    font-weight: 700;
    color: $color-red--1;
    margin-bottom: 1.2rem;
    display: inline-block;
  }

  &__text {
    max-width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-grey-1;
  }

  &__btn--try {
    margin-top: 2rem;
  }

  &__btn--close {
    font-size: 4rem;
    position: absolute;
    top: 2%;
    right: 3%;
    background: transparent;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
  &.hidden {
    display: none;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba($color-red--1, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  transition: all 0.4s;
  z-index: 44444;

  &.hidden {
    display: none;
  }
}

.btn {
  &:link,
  &:visited {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4.5rem;
    border-radius: 10rem;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1.2rem 2rem rgba(#000, 0.25);

    &::after {
      transform: scaleX(1.5) scaleY(1.7);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.6rem 1.2rem rgba(#000, 0.25);
  }

  &--red {
    font-weight: 600;
    color: #fff;
    background-color: $color-red--1;

    &::after {
      background-color: rgba($color-red--1, 0.7);
    }
  }

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10rem;
    transition: all 0.3s;
    z-index: -1;
  }
}

#icon-cross {
  width: 6.5rem;
  height: 6.5rem;
  margin-bottom: 0.8rem;
  display: inline-block;
}
