.error-window {
  min-width: 45%;
  max-width: 80rem;
  min-height: 18rem;
  background-color: $color-light-2;
  box-shadow: 0 3rem 5rem rgba(#000, 0.3);
  padding: 3rem 3.5rem;
  border-radius: 1.5rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  z-index: 5555555;

  @include respond(tablet-portrait) {
    min-width: 60%;
  }

  @include respond(tablet-small) {
    min-width: 70%;
    min-height: 32rem;
  }

  @include respond(phone) {
    min-width: 80%;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 700;
    color: $color-red--1;
    margin-bottom: 1.2rem;
    display: inline-block;
  }

  &__text {
    max-width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-grey-1;
  }

  &__btn--try {
    margin-top: 2rem;
  }

  &.hidden {
    display: none;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba($color-red--1, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  transition: all 0.4s;
  z-index: 4444444;

  &.hidden {
    display: none;
  }
}

#icon-cross {
  width: 6.5rem;
  height: 6.5rem;
  margin-bottom: 0.8rem;
  display: inline-block;
}
