.copyright {
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  color: $color-light-1;
  margin-top: auto;

  @include respond(tablet-medium) {
    display: none;
  }
}

.github-link {
  &:link,
  &:visited {
    color: #00a2ff;
    transition: all 0.3s ease;

    &:hover,
    &:active {
      color: #34ccff;
    }
  }
}
