/* MAP */
#map {
  height: 100%;
  background-color: $color-light-1;
  flex: 1;
  position: relative;

  @include respond(tablet-medium) {
    width: 100vw;
    min-height: 42vh;
  }

  @include respond(phone) {
    min-height: 48vh;
  }
}

// Change mapbox popup style
.mapboxgl {
  &-popup {
    &-close-button {
      display: none;
    }

    &-anchor-top &-tip {
      border-bottom-color: $color-grey-1 !important;
    }
    &-anchor-left &-tip {
      border-right-color: $color-grey-1 !important;
    }
    &-anchor-right &-tip {
      border-left-color: $color-grey-1 !important;
    }
    &-anchor-bottom &-tip {
      border-top-color: $color-grey-1 !important;
    }

    &-content {
      background-color: $color-grey-1 !important;
      padding: 0 !important;
      border: none !important;

      & .running-popup {
        width: auto;
        font: 500 1rem/1.5rem 'Open Sans', sans-serif;
        text-align: center;
        color: $color-light-2;
        padding: 0.8rem;
        border-left: 5px solid $color-running;
        border-radius: 4px;

        & > *:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }

      & .cycling-popup {
        width: auto;
        font: 500 1rem/1.5rem 'Open Sans', sans-serif;
        text-align: center;
        color: $color-light-2;
        padding: 0.8rem;
        border-left: 5px solid $color-cycling;
        border-radius: 4px;

        & > *:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }
    }
  }

  &-ctrl {
    @include respond(tablet-small) {
      margin: 4px !important;
    }

    &-geocoder {
      @include respond(tablet-small) {
        font-size: 18px;
        // width: 200px;
        max-width: 50%;
      }

      @include respond(small-phone) {
        min-width: 170px;
        // width: 50px;
        font-size: 16px;
      }
      &--input {
        @include respond(tablet-small) {
          height: 36px;
        }
      }
      &--icon {
        @include respond(tablet-small) {
          top: 8px;
          width: 21px;
          height: 21px;
        }

        @include respond(phone) {
          top: 8px;
          width: 21px;
          height: 21px;
        }
      }
    }

    /* // From: Pitch toggle control for Mapbox GL JS — http://fuzzytolerance.info/blog/2017/01/30/Pitch-toggle-control-for-Mapbox-GL-JS/ */
    &-pitchtoggle {
      &-3d {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
      }
      &-2d {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
      }
    }
  }
}

.mapbox-gl {
  &-draw-location {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem 2rem;
    pointer-events: auto;
    background-image: url(../images/SVG/location-crosshairs.svg);
  }
}
