.state {
  width: 100%;
  margin-bottom: 1.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  &__type {
    font-size: 1.2rem;

    &--text {
      font-weight: 500;

      &-workout {
        font-weight: 700;
        color: $color-pin-blue;
        margin-left: 5px;
      }
    }
  }

  &__number {
    font-size: 1rem;

    &--text {
      font-weight: 300;

      &-quantity {
        font-size: 1.8rem;
        font-weight: 400;
        color: $color-yellow-1;
        margin-left: 3px;
      }
    }
  }
}
